/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

span.wf:hover {
    background-color: #eee8aa;
    cursor: pointer;
}

span.seg:hover {
  background-color: #eee8aa;
  cursor: pointer;
}

p.segments:hover {
  background-color: white;
  /* cursor: pointer; */
}

p {
    font-size: 1em;
    margin-top: 0.5em;
}

a {
  color: maroon;
  cursor: pointer;
}


h1 {
  color: maroon;
  font-size: 2em;
  margin-top: 2em;
}

.together {
  display: flex;
  align-items: baseline;
}

.clickable:hover {
  /* background-color: maroon; */
  cursor: pointer;
}
